/* Fots files */
@font-face {
  font-family: 'got.bold', sans-serif;
  src: url('https://nomail.com.ua/files/eot/722c5f898bbca8b2eb3fce0287688326.eot?#iefix') format('embedded-opentype'), url('https://nomail.com.ua/files/woff/722c5f898bbca8b2eb3fce0287688326.woff') format('woff'), url('https://nomail.com.ua/files/woff2/722c5f898bbca8b2eb3fce0287688326.woff2') format('woff2');
  font-family: 'got.med', sans-serif;
  src: url('https://nomail.com.ua/files/eot/e19c20e966bde501f94e41cd0322dbe8.eot?#iefix') format('embedded-opentype'), url('https://nomail.com.ua/files/woff/e19c20e966bde501f94e41cd0322dbe8.woff') format('woff'), url('https://nomail.com.ua/files/woff2/e19c20e966bde501f94e41cd0322dbe8.woff2') format('woff2');
  font-family: 'got.bok', sans-serif;
  src: url('https://nomail.com.ua/files/eot/eca1317ee8a99162d0d0e2df77330cec.eot?#iefix') format('embedded-opentype'), url('https://nomail.com.ua/files/woff/eca1317ee8a99162d0d0e2df77330cec.woff') format('woff'), url('https://nomail.com.ua/files/woff2/eca1317ee8a99162d0d0e2df77330cec.woff2') format('woff2');
  font-family: 'myr.reg', sans-serif;
  src: url('/font/Myried/MyriadPro-Regular.eot');
  src: url('/font/Myried/MyriadPro-Regular.eot') format('embedded-opentype'), url('/font/Myried/MyriadPro-Regular.woff') format('woff'), url('/font/Myried/MyriadPro-Regular.ttf') format('truetype');
}
.rob-bold {
  font-family: 'Roboto Condensed';
  font-weight: 700;
}
.opn-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.opn.reg {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
/* section_header */
#header {
  background-image: url(/img/header/back-img.png);
}
.header-block p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-top: 45px;
  position: absolute;
  z-index: 999;
  margin-left: 15px;
}
.header-block img {
  position: absolute;
}
.header-block-1 {
  z-index: 1;
  margin-top: 35px;
}
.header-block-2 {
  margin-left: 15px;
  margin-top: 45px;
}
.header-block-3 {
  margin-top: 110px;
  margin-left: -335px;
}
.header-nav-section {
  margin-top: 50px;
}
.header-nav-section-item {
  font-family: 'myr.reg', sans-serif;
  font-size: 17px;
  color: #fff;
  margin-left: 9px;
}
.header-nav-section-item a {
  color: white;
  line-height: 20px;
}
.header-nav-section-item a:after {
  display: block;
  content: '';
  height: 6px;
  margin-top: 27px;
  width: 0%;
  background-color: #11749e;
  transition: width 0.4s ease-in-out;
}
.header-nav-section-item a:hover::after,
.header-nav-section-item a focus::after {
  width: 100%;
}
.header-nav-section-item i {
  margin-top: 13px;
  margin-left: 20px;
}
.header-headline {
  text-align: center;
  margin-top: 205px;
}
.header-headline h1 {
  font-family: 'got.bold', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  font-size: 152px;
  color: #f5f5f5;
}
.header-headline p {
  font-family: 'got.med', sans-serif;
  font-weight: 500;
  line-height: 2.065;
  font-size: 25px;
  color: #11749e;
  text-transform: uppercase;
  letter-spacing: 19px;
}
.header-btn {
  text-align: center;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 110px;
}
.header-btn p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
}
.header-btn button {
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0);
  width: 67px;
  height: 67px;
  outline: none;
}
.header-btn button:hover {
  transition: 0.5s;
  width: 75px;
  height: 75px;
}
.header-btn button i {
  color: #fff;
}
/* awesome section */
#awesome {
  background-image: url(/img/awesome/bg-img.png);
  height: 740px;
}
.awesome-headline {
  margin-top: 175px;
  text-align: center;
}
.awesome-headline h2 {
  font-family: 'got.med', sans-serif;
  font-weight: 500;
  font-size: 38px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.awesome-headline span {
  margin-top: -140px;
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 247px;
  color: rgba(255, 255, 255, 0.18);
  font-weight: bold;
  line-height: 0.852;
  text-align: center;
  position: absolute;
  margin-left: -105px;
  text-transform: uppercase;
}
.awesome-content {
  margin-top: 50px;
  text-align: center;
}
.awesome-content button {
  height: 135px;
  width: 135px;
  border-radius: 50%;
  border: 0px;
  background-color: #2e85aa;
  outline: none;
}
.awesome-content button:hover {
  transition: 0.5s;
  width: 145px;
  height: 145px;
}
.awesome-content h3 {
  text-transform: uppercase;
  font-family: 'got.med', sans-serif;
  font-size: 18px;
  color: #fff;
  margin-top: 25px;
}
.awesome-content p {
  font-family: 'myr.reg', sans-serif;
  font-size: 15px;
  color: #fff;
  margin-top: 20px;
}
/* sceytch-section */
.skeytch-1-info {
  z-index: 999;
  color: #fff;
}
.skeytch-1-info h6 {
  margin-top: 85px;
  font-family: 'got.bok', sans-serif;
  font-size: 13px;
}
.skeytch-1-info h4 {
  font-family: 'got.med', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 20px;
}
.skeytch-1-info p {
  margin-top: 35px;
  font-family: 'got.bok', sans-serif;
  font-size: 15px;
}
.skeytch-2 {
  position: absolute;
}
.skeytch-2-info {
  z-index: 999;
  margin-top: 95px;
  margin-left: 650px;
}
.skeytch-2-info h6 {
  margin-top: 85px;
  font-family: 'got.bok', sans-serif;
  font-size: 13px;
}
.skeytch-2-info h4 {
  font-family: 'got.med', sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 20px;
}
.skeytch-2-info p {
  margin-top: 35px;
  font-family: 'got.bok', sans-serif;
  font-size: 15px;
  margin-bottom: 100px;
}
.skeytch-2-img {
  z-index: 999;
}
.skeytch-img-black {
  position: absolute;
  margin-left: -141px;
  z-index: 1;
}
.skeytch-img-color {
  position: absolute;
  margin-left: 566px;
  z-index: 10;
}
.skeytch-img-down {
  position: absolute;
  margin-top: 92px;
  margin-left: -141px;
}
/* blog section */
#blog {
  height: 1017px;
}
.blog-headline {
  margin-top: 175px;
  text-align: center;
}
.blog-headline h2 {
  font-family: 'got.med', sans-serif;
  font-weight: 500;
  font-size: 38px;
  color: #222222;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.blog-headline span {
  margin-top: -132px;
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 247px;
  color: rgba(34, 34, 34, 0.18);
  font-weight: bold;
  line-height: 0.852;
  text-align: center;
  position: absolute;
  margin-left: -72px;
  text-transform: uppercase;
}
.blog-headline p {
  font-family: 'got.bok', sans-serif;
  font-size: 30px;
  margin-top: 100px;
}
.blog-content {
  text-align: center;
  margin-top: 80px;
}
.blog-content h4 {
  text-transform: uppercase;
  margin-top: 45px;
  color: #11749e;
  font-family: 'got.med', sans-serif;
  font-size: 18px;
}
.blog-content p {
  margin-top: 30px;
  font-family: 'got.bok', sans-serif;
  font-size: 15px;
}
